.alert {
  position: relative;
  border-left: transparent 8px solid;
  margin: 50px 0;
  padding: 30px;
  background: #FFF;
  box-shadow: 0 0 2px 0 rgba(0, 0, 0, 0.1), 0 5px 5px 0 rgba(0, 0, 0, 0.1);
  font-size: 20px;
  line-height: 34px;

  &.alert-success {
    border-color: #A5D6A7;
    color: #A5D6A7;
  }
  &.alert-info {
    border-color: #1D88DE;
    color: #1D88DE;
  }
  &.alert-warning {
    border-color: #F06429;
    color: #F06429;
  }
  &.alert-danger {
    border-color: #EF3434;
    color: #EF3434;
  }

  @media (max-width: 479px) {
    font-size: 16px;
    line-height: 28px;
  }
}